.speech
{
    font-family:'Courier New', Courier, monospace;
    font-size:small;
    color:black;
}

.direction 
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    color:black;
    background-color: rgb(51, 52, 54);
}

.direction:hover
{
    background-color: rgb(240, 155, 43);
    color:rgb(113, 107, 107);
}